@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
/*
!----------------------  -------------------!
*/
body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}

.container {
  max-width: 393px;
  margin: 0 auto;
  position: relative;
  /* height: 100%; */
  padding: 0px 0px 60px;
}

header{
  width: 100%;
  height: 80px;
  .logo{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #bc0521;
    img{
      height: 100%;
    }
  }
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
}